	#sidebar {
		background: linear-gradient(to left, rgba(51,204,51,0), rgba(51,204,51,1));;
		position: absolute;
		width: 1000px;
		z-index: 3;
		right:-2000px;
		padding: 3px;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;

	}
	#sidebar.ng-hide-remove {
		animation:1s fadeInRight ease;
	}

	@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
#sidebar.ng-hide-add{
 animation:1s fadeOutRight ease; 
}

@-webkit-keyframes fadeOutRight {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}