extends layout

block content
  h1= title
  p API '/api/getuser' method: GET Response: Json
  p API '/api/login' method: POST Response: Json
  p API '/api/deduction' method: GET Response: Json
  p API '/api/deduction/:id' method: DELETE Response: Json
