<div class="otterbox">
 <div class="btn-group" class="space">
    <label class="btn btn-info" ng-model="displayModel" btn-radio="'list'">List</label>
    <label class="btn btn-info" ng-model="displayModel" btn-radio="'card'">Card</label>
</div>
<input class="space" placeholder="Deduction Name" ng-model="deductionfilter.deductionName"/>
<input class="space" placeholder="Long Description" ng-model="deductionfilter.longDescription"/>
<input class="space" placeholder="Short Description" ng-model="deductionfilter.shortDescription"/>
<input class="space" placeholder="Value" ng-model="deductionfilter.value"/>
<button class="btn btn-success" ng-click="addDeduction()">Add</button>

<br/><br/>

<div ng-show="displayModel==='list'" >
	<table class="table table-striped table-hover fixed_headers">
		<thead>
		<tr>
			<th class="tableHead" ng-click="sortingBy('deductionName')">Name</th>
			<th class="tableHead" ng-click="sortingBy('longDescription')">Long Description</th>
			<th class="tableHead"ng-click="sortingBy('shortDescription')">Short Description</th>
			<th class="tableHead" ng-click="sortingBy('value')">Value</th>
			<th>Edit</th>
			<th>Delete</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat = "deduction in deductions | filter:deductionfilter | orderBy: sorting: reverse">
			<td>{{deduction.deductionName}}</td>
			<td class="list-longDes">{{deduction.longDescription}}</td>
			<td>{{deduction.shortDescription}}</td>
			<td>{{deduction.value}}</td>
			<td><button class="btn btn-info" ng-click="editDeduction(deduction)">Edit</button></td>
			<td><button class="btn btn-warning" ng-click="deleteDeduction(deduction)">Delete</button></td>
		</tr>
		</tbody>
	</table>
</div>

<div ng-show="displayModel==='card'"  class="card-mode">
	<div class="card-display" ng-repeat = "deduction in deductions | filter:deductionfilter">
		<h2 class="card-name">{{deduction.deductionName}}</h2>
		<p  class="card-longDes"><i>{{deduction.longDescription}}</i></p>
		<p>{{deduction.shortDescription}}</p>
		<p class="card-shortDes">{{deduction.value}}</p>
		<button class="btn btn-info card-button" ng-click="editDeduction(deduction)">Edit</button>
		<button class="btn btn-danger" ng-click="deleteDeduction(deduction)">Delete</button>
	</div>
</div>

  <sbdir></sbdir>
  <ebdir></ebdir>


</div>



