<div ng-hide='bool' ng-style="{'right':OriPos, 'top':SbHeight}" id="addbar">
	<form >
		<div>
			<h3>Please add deduction:</h3>
		</div>
		<div class="form-inline">
		
			<input type="text" class="form-control ebar-name" ng-model='deductionName' placeholder='Deduction Name'>
		
			<input type="text" class="form-control" ng-model='shortDis' placeholder='Short Discription'>
		
			<input type="text" class="form-control ebar-long" ng-model ='longDis' placeholder='Long Discription'>
		
			<input type="text" class="form-control ebar-value" ng-model='userValue' placeholder='Value'>
		
			<input type="button" class="btn btn-success" value="submit" ng-click="submitDeduction()">
	        <input type="button" class="btn btn-success" value="cancel" ng-click="cancelDeduction()">
	    </div>
	</form>
</div>